<!-- app/views/assignments/show_assignment.html.erb -->
<h1>Assignment Details</h1>

<div>
  <strong>Subject:</strong>
  <%= @assignment.subject %>
</div>

<div>
  <strong>Status:</strong>
  <%= @assignment.status %>
</div>

<% if @assignment.assignments.attached? %>
  <div>
    <strong>Download Assignment:</strong>
    <%= link_to 'Download', url_for(@assignment.assignments) %>
  </div>
<% else %>
  <div>
    <p>No Assignment Attached</p>
  </div>
<% end %>

<%= link_to 'Back', assignments_path %>
