<h1>Classes</h1>

<table>
  <thead>
    <tr>
      <th>Class Number</th>
      <th>Division</th>
      <th>Department</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sclasses.each do |sclass| %>
      <tr>
        <td><%= sclass.classNumber %></td>
        <td><%= sclass.division %></td>
        <td><%= sclass.department %></td>
        <td>
          
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back to Students', students_path %>
